* {
	padding: 0;
	margin: 0;
}

#operator {
	position: fixed;
	margin: 20px;
}

.file {
	position: relative;
	display: inline-block;
	background: #D0EEFF;
	border: 1px solid #99D3F5;
	border-radius: 4px;
	padding: 4px 12px;
	overflow: hidden;
	color: #1E88C7;
	text-decoration: none;
	text-indent: 0;
	line-height: 20px;
}

.file input {
	position: absolute;
	font-size: 100px;
	right: 0;
	top: 0;
	opacity: 0;
}

.file:hover {
	background: #AADFFD;
	border-color: #78C3F3;
	color: #004974;
	text-decoration: none;
}

#imgDiv {
	margin: 0 auto;
	width: 650px;
	min-height: 800px;
	border: 1px solid #CA7C4E;
	border-radius: 10px;
	text-align: center;
}

canvas {
	width: 1000px;
	border-radius: 10px;
	border: 1px solid #CA7C4E;
	margin: 10px;
}
