.frame {
	position: fixed;
	width: 340px;
	height: 320px;
	border-radius: 2px;
	box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
	background: #CA7C4E;
	background: -webkit-linear-gradient(bottom left, #EEBE6C 0%, #CA7C4E 100%);
	background: linear-gradient(to top right, #EEBE6C 0%, #CA7C4E 100%);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#EEBE6C', endColorstr='#CA7C4E', GradientType=1);
	color: #786450;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
	position: absolute;
	top: 10px;
	left: 10px;
	height: 299px;
	width: 320px;
	background: #fff;
	border-radius: 3px;
	overflow: hidden;
	box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.3);
}

.profile {
	float: left;
	width: 200px;
	height: 320px;
	text-align: center;
}

.profile .image {
	position: relative;
	width: 70px;
	height: 70px;
	margin: 38px auto 0 auto;
}

.profile .image .circle-1,
.profile .image .circle-2 {
	position: absolute;
	box-sizing: border-box;
	width: 76px;
	height: 76px;
	top: -3px;
	left: -3px;
	border-width: 1px;
	border-style: solid;
	border-color: #786450 #786450 #786450 transparent;
	border-radius: 50%;
	-webkit-transition: all 1.5s ease-in-out;
	transition: all 1.5s ease-in-out;
}

.profile .image .circle-2 {
	width: 82px;
	height: 82px;
	top: -6px;
	left: -6px;
	border-color: #786450 transparent #786450 #786450;
}

.profile .image img {
	display: block;
	border-radius: 50%;
	background: #F5E8DF;
}

.profile .image:hover {
	cursor: pointer;
}

.profile .image:hover .circle-1,
.profile .image:hover .circle-2 {
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
}

.profile .image:hover .circle-2 {
	-webkit-transform: rotate(-360deg);
	transform: rotate(-360deg);
}

.profile .name {
	font-size: 15px;
	font-weight: 600;
	margin-top: 20px;
}

.profile .job {
	font-size: 11px;
	line-height: 15px;
}

.profile .actions {
	margin-top: 20px;
}

.profile .actions .btn {
	display: block;
	width: 120px;
	height: 30px;
	margin: 0 auto 10px auto;
	background: none;
	border: 1px solid #786450;
	border-radius: 15px;
	font-size: 12px;
	font-weight: 600;
	box-sizing: border-box;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	color: #786450;
}

.profile .actions .btn:hover {
	background: #786450;
	color: #fff;
}

.stats {
	float: left;
}

.stats .box {
	box-sizing: border-box;
	width: 120px;
	height: 75px;
	background: #F5E8DF;
	text-align: center;
	padding-top: 28px;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

.stats .box:hover {
	background: #E1CFC2;
	cursor: pointer;
}

.stats .box:nth-child(2n) {
	margin: 1px 0;
}

.stats span {
	display: block;
}

.stats .value {
	font-size: 18px;
	font-weight: 600;
}

.stats .parameter {
	margin: 0 auto;
	font-size: 11px;
	width: 90%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.stats .box .all {
	display: inline;
}

.stats .box .small {
	font-size: 14px;
	color: #400505;
}


.stats input[type="checkbox"] {
	-webkit-appearance: checkbox
}


.stats input[type="checkbox"] {
	width: 20px;
	height: 20px;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	line-height: 18px;
	margin-right: 10px;
	position: relative;
}


.stats input[type="checkbox"]::before {
	content: "";
	position: absolute;
	top: -2px;
	left: 0;
	background: #fff;
	width: 100%;
	height: 100%;
	border: 1px solid #3593ff;
	border-radius: 4px
}


.stats input[type="checkbox"]:checked::before {
	content: "\2713";
	background-color: #fff;
	position: absolute;
	top: -2px;
	left: 0;
	width: 100%;
	border: 1px solid #3593ff;
	border-radius: 4px;
	color: #3593ff;
	font-size: 20px;
	font-weight: 700
}
